<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 12 Feb 2023-->
<!--Services page information-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title-->
  <% if(title=="Home"){%>
    <title><%= ("Home") %></title>
    <%}
     else{%>
            <%}%>
            <% if(title=="About Me"){%>
    <title><%= ("About Me") %></title>
    <%}
    else{%>
            <%}%>
   
            <% if(title=="Projects"){%>
    <title><%= ("Projects") %></title>
    <%}
    else{%>
            <%}%>
    <% if(title=="Services"){%>
    <title><%= ("Services") %></title>
    <%}
    else{%>
            <%}%>
            
    <% if(title=="Contact Me"){%>
    <title><%= ("Contact Me") %></title>
    <%}
    else{%>
            <%}%>



  <!--css section-->
  <link rel="stylesheet"href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"href="/@fortawesome/fontawesome-free/css/all.min.css"/>
  <link rel="stylesheet" href="/public/content/app.css" />
</head>
<body>