<%-include ../partials/header.ejs%>
<%-include ../partials/main_nav.ejs%>
<main class="container">
<!--Message area-->
<%if(messages.length>0){%>
    <div class="alert alert-danger">
        <%=messages%>
         </div>
         <%}%>
         <div class="row">
            <div class="">
                </div>
            </div>
    </main>



 <%-include ../partials/bottom_nav.ejs%>
  <%-include ../partials/footer.ejs%>