<!--Filename: Assignment1
Student Name: Sirada Thoungvitayasutee
Student ID: 301292632
Date 12 Feb 2023-->
<!--Services page information-->
<%-include ('partials/header.ejs')%>
<%-include ('partials/content.ejs')%>
  <!--Main nav Navigation-->

  <main>
    <%- include('homepage.ejs') %>
    <%- include('aboutme.ejs') %>
    <%- include('projects.ejs') %>
    <%- include('services.ejs') %>
    <%- include('contactme.ejs') %>
  </main>

  <%-include ('partials/bottom_nav.ejs')%>
  <%-include ('partials/footer.ejs')%>




